body {
  height: auto;
  background-image: url(../images/bg/bg1-mob.png), url(../images/bg/bg2-mob.png),
    url(../images/bg/flover-mob.png);
  background-repeat: no-repeat;
  background-size: 100% 416px, 100% 1215px, 87px 64px;
  background-position: left top, center bottom 217px, right bottom;
  background-color: #fffff9;

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/bg/bg1-mob.png), url(../images/bg/bg2-mob.png),
      url(../images/bg/flover-mob2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/bg/bg1-tab.png), url(../images/bg/flover-tab.png),
      url(../images/bg/bg2-tab.png);
    background-repeat: no-repeat;
    background-size: 100% 622px, 147px 144px, 100% 1260px;
    background-position: left top, right bottom, center bottom 63px;
    background-color: #fffff9;

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg/bg1-tab.png), url(../images/bg/flover-tab2x.png),
        url(../images/bg/bg2-tab.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/bg/bg1-desk.png), url(../images/bg/flover-desk.png),
      url(../images/bg/bg2-desk.png);
    background-repeat: no-repeat;
    background-size: 100% 1035px, 319px 184px, 100% 1599px;
    background-position: left top, right bottom, center bottom;
    background-color: #fffff9;

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg/bg1-desk.png), url(../images/bg/flover-desk2x.png),
        url(../images/bg/bg2-desk.png);
    }
  }
}
