.contact {
  padding-bottom: 50px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 1279px) and (min-width: 768px) {
    max-width: 554px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 854px;
    padding: 0;
  }
  &--contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contact__title {
  font-family: $font-sec;
  font-weight: 400;
  font-size: 24px;
  line-height: 2.7;
  color: $text;

  @media screen and (min-width: 1280px) {
    font-size: 36px;
    line-height: 1.8;
  }
}
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 265px;
  font-family: $font;
  font-size: 16px;
  line-height: 1.4;

  @media screen and (min-width: 768px) {
    width: 410px;
  }
  @media screen and (min-width: 1280px) {
    width: 430px;
  }
}
.contact__appeal {
  color: $text;
  margin-bottom: 27px;
  font-weight: 400;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
  }
}
.contact__input {
  border: none;
  border-bottom: 1px solid $btn-color;
  margin-bottom: 25px;
  width: 100%;
  padding: 2px 0px;
  outline: none;
  background-color: $main-bg-color;

  &::placeholder {
    color: $placeholder;
  }
  &:not(:placeholder-shown):required:invalid {
    border-color: red;
  }
}

.contact__btn {
  font-family: $font-sec;
  font-size: 18px;
  width: 145px;
  height: 40px;
  border-radius: 25px;
  border: none;
  color: #fff;
  background-color: $btn-color;
  cursor: pointer;
  padding: 0;
  outline: none;

  @media screen and (min-width: 1280px) {
    width: 158px;
    height: 45px;
    font-size: 24px;
  }
  &:hover,
  &:focus {
    background-color: #aa6543;
  }
}
