.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 1279px) and (min-width: 768px) {
    max-width: 554px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 854px;
    padding: 0;
  }
  &--footer {
    display: block;
  }
}
.footer {
  padding-bottom: 19px;

  @media screen and (min-width: 768px) {
    padding-bottom: 21px;
  }
}
.social-list--footer {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  align-items: center;
}
.social-list__item {
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}
.social-list__link {
  color: $text;
  transition: color $fortransitions;

  &:hover,
  &:focus,
  &:active {
    color: #aa6543;
  }
}
.social-list__icon {
  fill: currentColor;
  display: block;
}
.auth-nav__list {
  display: flex;
  justify-content: space-between;
}
.auth-nav__link {
  font-family: $font;
  font-size: 16px;
  color: $text;
  @include transition(color);

  &:hover,
  &:focus,
  &:active {
    color: #aa6543;
  }
}
.auth-nav__icon {
  fill: currentColor;
  margin-right: 3px;
}

.top-wrap {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block;
  @media screen and (max-width: 767px) {
    right: 5px;
    bottom: 25px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    right: 5px;
    bottom: 15px;
  }
}

.top-button {
  width: 100px;
  height: 100px;
  display: block;
  @media screen and (max-width: 767px) {
    width: 30px;
    height: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 70px;
    height: 70px;
  }
}

.top-button::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  transform: rotate(45deg);
  border-left: 15px solid #aa6543;
  border-top: 15px solid #aa6543;
  position: absolute;

  @media screen and (max-width: 767px) {
    width: 20px;
    height: 20px;
    border-left: 5px solid #aa6543;
    border-top: 5px solid #aa6543;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 35px;
    height: 35px;
    border-left: 10px solid #aa6543;
    border-top: 10px solid #aa6543;
  }
}

.top-button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  transform: rotate(45deg);
  border-left: 15px solid #aa6543;
  border-top: 15px solid #aa6543;
  position: absolute;

  @media screen and (max-width: 767px) {
    width: 20px;
    height: 20px;
    border-left: 5px solid #aa6543;
    border-top: 5px solid #aa6543;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 35px;
    height: 35px;
    border-left: 10px solid #aa6543;
    border-top: 10px solid #aa6543;
  }
}

.top-button::after,
.top-button::before {
  animation: back_to_top 3s linear infinite;
}
.top-button::after {
  animation-delay: 1.5s;
}

@keyframes back_to_top {
  0% {
    opacity: 0;
    transform: translate(25px, 66px) rotate(45deg);
  }

  10% {
    opacity: 1;
  }
  50% {
    transform: translate(25px, 33px) rotate(45deg);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(25px, 0px) rotate(45deg);
  }
}

@media screen and (max-width: 767px) {
  @keyframes back_to_top {
    0% {
      opacity: 0;
      transform: translate(5px, 26px) rotate(45deg);
    }

    10% {
      opacity: 1;
    }
    50% {
      transform: translate(5px, 13px) rotate(45deg);
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(5px, 0px) rotate(45deg);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  @keyframes back_to_top {
    0% {
      opacity: 0;
      transform: translate(0px, 46px) rotate(45deg);
    }

    10% {
      opacity: 1;
    }
    50% {
      transform: translate(0px, 23px) rotate(45deg);
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(0px, 0px) rotate(45deg);
    }
  }
}
