.menu--container {
  @media screen and (max-width: 767px) {
    padding: 20px 21px;
  }
  @media screen and (min-width: 768px) {
    padding: 25px 67px;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(254, 243, 228, 0.9);
  backdrop-filter: blur(4px);
  text-align: center;

  z-index: 999;

  transform: translateY(-100%);
  @include transition(transform);

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.menu--container.is-open {
  transform: translateY(0);
}

.menu__top {
  display: flex;
  justify-content: center;

  position: relative;

  // margin-bottom: 40px;
  margin-bottom: 30px;
}

.menu__button {
  margin: 0;
  padding: 0;

  position: absolute;
  top: 0;
  right: 0;

  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  fill: $text;

  @include transition(fill);

  &:hover,
  &:focus {
    fill: $btn-color;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.menu__button--open {
  position: absolute;
  @media screen and (max-width: 767px) {
    top: 8px;
    right: 15px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    top: 0px;
    right: 0px;
  }
}

.menu__item:not(:last-child) {
  // margin-bottom: 45px;
  margin-bottom: 10px;
}

.menu__nav-link {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;

  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: $text;

  @include transition(color);

  &:hover,
  &:focus {
    color: #876655;
  }
}

.menu__logo {
  width: 190px;
  height: 85px;

  &:hover .fill {
    fill: #aa6543;
    stroke: #aa6543;
    stroke-width: 0.5;
  }
}
