.program {
  padding-bottom: 25px;
  @media screen and(min-width: 768px) {
    padding-bottom: 51px;
  }
  @media screen and(min-width: 1280px) {
    padding-bottom: 68px;
  }
}
.program__container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and(min-width: 768px) {
    max-width: 634px;
    padding-left: 0;
    padding-right: 0;
  }
  @media screen and(min-width: 1280px) {
    max-width: 824px;
    padding-left: 0;
    padding-right: 0;
  }
}
.program__wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
.program__text {
  max-width: 290px;
  margin-right: 0;
  margin-left: 0;
  @media screen and(min-width: 768px) {
    max-width: 299px;
    margin-right: 38px;
  }
  @media screen and(min-width: 1280px) {
    margin-right: 40px;
    max-width: 392px;
  }
}
.program__title {
  font-family: $font-sec;
  font-weight: 400;
  font-size: 24px;
  line-height: 2.71;
  text-align: center;
  padding: 0;
  color: $text;
  @media screen and(min-width: 768px) {
    text-align: left;
  }
  @media screen and(min-width: 1280px) {
    font-size: 36px;
    line-height: 1.81;
    margin-bottom: 10px;
  }
}
.program__description {
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: $text;
  margin-bottom: 10px;
  @media screen and(min-width: 1280px) {
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 21px;
  }
}
.program__extra-description {
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: $text;
  margin-top: 10px;
  @media screen and(max-width: 1279px) {
    display: none;
  }
  @media screen and(min-width: 1280px) {
    font-size: 18px;
    line-height: 1.22;
  }
}
.less {
  display: none;
}
@media screen and(min-width: 1280px) {
  .read-more {
    display: none;
  }
}
@media screen and(max-width: 1279px) {
  .read-more {
    font-family: $font-sec;
    font-weight: 400;
    font-size: 18px;
    line-height: 3.61;
    color: $btn-color;
  }
  #program-read-more:checked ~ .program__extra-description {
    display: block;
  }
  #program-read-more:checked ~ .read-more .more {
    display: none;
  }
  #program-read-more:checked ~ .read-more .less {
    display: inline;
  }
}
.program__list {
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: $text;
  @media screen and(min-width: 1280px) {
    font-size: 18px;
    line-height: 1.22;
  }
}
.program__items {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  /* list-style: outside url('../images/svg/donut.svg'); */

  @media screen and(min-width: 1280px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.program__item {
  padding-left: 20px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../images/svg/donut.svg);
  }
}

.program__circles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 34px;
  max-width: 290px;
  @media screen and(min-width: 768px) {
    max-width: 299px;
  }
  @media screen and(min-width: 1280px) {
    max-width: 392px;
    margin-top: 38px;
  }
}
.program__circle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  position: relative;
  width: 142px;
  height: 142px;
  border-radius: 50%;
  background: #fef3e4;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
  margin-right: 6px;
  margin-bottom: 57px;
  padding-top: 32px;

  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  @media screen and(min-width: 768px) {
    margin-right: 15px;
  }
  @media screen and (min-width: 1280px) {
    width: 180px;
    height: 180px;
    margin-right: 32px;
  }
}
.program__circle:nth-child(2n) {
  margin-right: -6px;
  margin-top: 26px;
  @media screen and(min-width: 768px) {
    margin-right: -15px;
  }
  @media screen and(min-width: 1280px) {
    margin-right: -32px;
  }
}
.program__donut {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.program__subtitle {
  font-family: $font-sec;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.23;
  color: $text;
  margin-bottom: 13px;
  @media screen and(min-width: 1280px) {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 16px;
  }
}
.program__subtext {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 1.21;
  @media screen and(min-width: 1280px) {
    font-size: 18px;
    margin-bottom: 16px;
  }
}
.program__icon {
  width: 20px;
  height: 20px;
  margin-bottom: 9px;
  @media screen and(min-width: 1280px) {
    width: 25px;
    height: 25px;
    margin-bottom: 12px;
  }
}
