.register__container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @media screen and (max-width: 767px) {
    width: 290px;
    height: 510px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    padding-top: 15px;
    padding-bottom: 47px;
    // background-color: pink;
    background-color: $main-bg-color;
    box-shadow: $shadow-form;
  }
  @media screen and (min-width: 768px) {
    width: 634px;
    // padding-left: 68px;
    // padding-right: 68px;
  }
  @media screen and (min-width: 1280px) {
    width: 824px;
    // padding-left: 100px;
    // padding-right: 100px;
  }
}
.register {
  @media screen and (max-width: 767px) {
    // width: 320px;

    // height: 510px;

    margin-left: auto;
    margin-right: auto;
    //   border-top-left-radius: 150px;
    //   border-top-right-radius: 150px;
    //   padding-top: 15px;
    //   padding-bottom: 47px;
    //   // background-color: pink;
    //   background-color: $main-bg-color;
    //   box-shadow: $shadow-form;
  }
}

.register__title {
  font-family: $font-sec;
  font-weight: 400;
  font-size: 24px;
  line-height: 2.71;
  color: $text;
  text-align: center;
  @media screen and (max-width: 767px) {
    margin-bottom: 11px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 36px;
    line-height: 1.8;
  }
}
.register__wrap {
  @media screen and (max-width: 767px) {
    padding-left: 13px;
    padding-right: 12px;
  }
  @media screen and (min-width: 768px) {
    display: flex;

    width: 634px;
    height: 260px;
    margin-right: auto;
    margin-left: auto;
    padding: 35px 21px 35px 35px;
    border-radius: 150px;
    // background-color: pink;
    background-color: $main-bg-color;
    box-shadow: $shadow-form;
    position: relative;
  }
  @media screen and (min-width: 1280px) {
    width: 822px;
    height: 260px;
    margin-right: auto;
    margin-left: auto;
    padding: 35px 98px 35px 107px;
    border-radius: 150px;
    // background-color: pink;
    background-color: $main-bg-color;
    box-shadow: $shadow-form;
    position: relative;
  }
}
.register__wrap-date {
  @media screen and (min-width: 768px) {
    display: block;
    margin-right: 30px;
    margin-top: 19px;
  }
}
.register__date {
  font-family: $font;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: $text;

  display: block;
  @media screen and (max-width: 767px) {
    width: 114px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    white-space: nowrap;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}
.register__date-text {
  font-family: $font;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  @media screen and (max-width: 767px) {
    text-align: center;
    margin-left: 88px;
    margin-right: 88px;
    margin-bottom: 25px;
  }
  @media screen and (min-width: 768px) {
    text-align: right;
    margin-bottom: 34px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    text-align: right;
    margin-bottom: 30px;
  }
}
.register__text {
  font-family: $font;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: $text;

  @media screen and (max-width: 767px) {
    text-align: center;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    text-align: right;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}

.register__form-title {
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: $text;
  text-align: center;
  margin-bottom: 17px;
  @media screen and (min-width: 768px) {
    width: 292px;
    text-align: left;
    margin-top: 19px;
    // margin-left: 60px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    width: 292px;
    text-align: left;
  }
}
.register__form {
  @media screen and (min-width: 768px) {
    display: flex;

    justify-content: right;
  }
  // @media screen and (min-width: 1280px) {
  //   display: flex;

  //   justify-content: right;
  // }
}
.register__form-cont {
  text-align: center;
  text-align: -webkit-center;

  @media screen and (min-width: 768px) {
    margin-right: 25px;
  }
  //   margin-bottom: 37px;
  @media screen and (min-width: 1280px) {
    margin-right: 38px;
  }
}

.register__form-input {
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid $btn-color;
  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 25px;

    //   &:last-child {
    //     margin-bottom: 0;
    //   }
  }
  @media screen and (min-width: 768px) {
    display: block;
    width: 234px;
    margin-bottom: 17px;
  }

  &::placeholder {
    font-family: $font;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    color: $placeholder;
  }

  &:hover,
  &:focus {
    outline: none;
    border-bottom: 1px solid $btn-color;
  }
}
input:invalid:not(:placeholder-shown) {
  border-color: red;
}

.register__button {
  font-family: $font-sec;
  font-weight: 400;
  font-size: 18px;
  width: 145px;
  height: 40px;
  color: #ffffff;
  background: $btn-color;
  border-radius: 25px;
  border-color: transparent;
  cursor: pointer;
  margin: 0;
  @media screen and (max-width: 767px) {
    text-align: center;
    margin-left: 60px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 24px;
  }
}
.register__cover {
  display: block;
  @media screen and (max-width: 767px) {
    border-top: 1px solid rgba(171, 129, 108, 0.5);
    padding-top: 11px;
  }
  @media screen and (min-width: 768px) {
    border-left: 1px solid rgba(171, 129, 108, 0.5);
    padding-left: 30px;
  }
}
.register__container::before {
  display: none;
  background-size: 100%;

  @media screen and (min-width: 768px) {
    display: block;
    content: '';
    width: 232px;
    height: 235px;
    position: absolute;
    left: -66px;
    top: 25px;
    background-image: url(../images/registration/donut-tab.png);
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/registration/donut-tab2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    display: block;
    content: '';
    width: 255px;
    height: 235px;
    position: absolute;
    left: -145px;
    top: 36px;
    background-image: url(../images/registration/donut-desk.png);
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/registration/donut-desk2x.png);
    }
  }
}

.register__container::after {
  display: none;
  background-size: 100%;
  z-index: -1;

  @media screen and (min-width: 768px) {
    display: block;
    content: '';
    width: 190px;
    height: 345px;
    position: absolute;
    right: -66px;
    top: 140px;
    background-image: url(../images/registration/party-tab.png);
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/registration/party-tab2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    display: block;
    content: '';
    width: 300px;
    height: 544px;
    position: absolute;
    right: -75px;
    top: 200px;
    background-image: url(../images/registration/party-desk.png);
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/registration/party-desk2x.png);
    }
  }
}
