// Шрифты

$font: Montserrat, 'arial', sans-serif;
$font-sec: Caveat Brush, 'arial', sans-serif;

// Цвета
$text: #2e2520;
$black: #000000;
$bg-color: #fef3e4;
$btn-color: #ab816c;
$placeholder: rgba(171, 129, 108, 0.5);
$main-bg-color: #fffff9;

// тень
$shadow-form: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
$shadow-program: 0px 4px 4px rgba(171, 129, 108, 0.25);

$duration: 2500ms;
