<div class="container">
    <section class="footer">
        <ul class="social-list social-list--footer">
            <li class="social-list__item">
              <a class="social-list__link" href="https://twitter.com/" target="_blank" rel="nofollow">
                <svg class="social-list__icon" width="24" height="19">
                  <use href="../src/images/svg/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
                <svg class="social-list__icon" width="19" height="19">
                  <use href="../src/images/svg/sprite.svg#icon-inst"></use></svg>
                </a>
            </li>
                <svg class="social-list__icon" width="12" height="19">
                  <use href="../src/images/svg/sprite.svg#icon-facebook"></use></svg>
                </a>
            </li>
<ul class="auth-nav__list">
    <li class="auth-nav__item">
        <a href="tel:9102228855" class="auth-nav__link"><svg class="auth-nav__item" width="13" height="13">
                <use href="../src/images/svg/sprite.svg#icon-phone"></use>
            </svg>(910)222-8855</a>
    </li>
    <li class="auth-nav__item">
        <a href="#" class="auth-nav__link"><svg class="auth-nav__item" width="11" height="14">
            <use href="../src/images/svg/sprite.svg#icon-map"></use>
        </svg>New York</a>
    </li>
</ul>
    </section>
</div>