<header class="header header--geometry">
  <div class="header__container">
    <nav class="header__nav">
      <div class="header__top">
        <a href="#" class="header__logo">
          <picture>
            <source
              srcset="
                ./images/header/logo-mob-and-tab.png    1x,
                ./images/header/logo@2x-mob-and-tab.png 2x
              "
              media="(max-width: 1279px)"
              type="image/png"
            />
            <source
              srcset="./images/header/logo-desk.png 1x, ./images/header/logo@2x-desk.png 2x"
              media="(min-width: 1280px)"
              type="image/png"
            />
            <img
              class="header__image"
              src="./images/header/logo-mob-and-tab.png"
              alt="Логотип сайта"
            />
          </picture>
        </a>

        <!-- Кнопка открытия меню -->
        <button
          type="button"
          class="menu__button menu__button--open js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg width="30" height="16" aria-label="Переключатель мобильного меню">
            <use href="./images/svg/sprite.svg#icon-menu"></use>
          </svg>
        </button>
      </div>

      <ul class="header__list">
        <li class="header__item"><a class="header__nav-link" href="#about">About us</a></li>
        <li class="header__item"><a class="header__nav-link" href="#program">Program</a></li>
        <li class="header__item"><a class="header__nav-link" href="#reviews">Reviews</a></li>
        <li class="header__item"><a class="header__nav-link" href="#contacts">Contacts</a></li>
      </ul>
    </nav>

    <div class="header__title-block">
      <h1 class="header__title">Donut Masterclass with the Donut King</h1>
      <p class="header__subtitle">Hosted by Eva Green</p>
      <a class="button" href="#register">Register</a>
    </div>

    <!-- Социальные сети -->
    <ul class="social-list social-list--geometry">
      <li class="social-list__item">
        <a class="social-list__link" href="https://twitter.com/" target="_blank" rel="nofollow">
          <svg class="social-list__icon" width="24" height="19">
            <use href="../src/images/svg/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a
          class="social-list__link"
          href="https://www.instagram.com/?hl=ru"
          target="_blank"
          rel="nofollow"
        >
          <svg class="social-list__icon" width="19" height="19">
            <use href="../src/images/svg/sprite.svg#icon-inst"></use></svg
        ></a>
      </li>
      <li class="social-list__item">
        <a
          class="social-list__link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="nofollow"
        >
          <svg class="social-list__icon" width="12" height="19">
            <use href="../src/images/svg/sprite.svg#icon-facebook"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</header>
