<header class="header header--geometry">
  <div class="header__container">
    <nav class="header__nav">
      <a href="#" class="header__logo"
        ><img class="header__image" src="/images/header/logo-mob-and-tab.png" alt="Логотип сайта"
      /></a>

      <!-- Кнопка открытия меню -->
      <button class="menu__button" type="button">
        <svg class="menu__open" width="30" height="16" aria-label="Переключатель мобильного меню">
          <use href="/images/header/menu.svg"></use>
        </svg>
      </button>

      <ul class="header__list">
        <li class="header__item"><a class="header__nav-link" href="#about">About us</a></li>
        <li class="header__item"><a class="header__nav-link" href="#program">Program</a></li>
        <li class="header__item"><a class="header__nav-link" href="#reviews">Reviews</a></li>
        <li class="header__item"><a class="header__nav-link" href="#contacts">Contacts</a></li>
      </ul>
    </nav>

    <div class="header__title-block">
      <h1 class="header__title">Donut Masterclass with the Donut King</h1>
      <p class="header__subtitle">Hosted by Eva Green</p>
      <button class="header__button" type="button">
        <a class="header__button-link" href="#register">Register</a>
      </button>
    </div>

    <!-- Социальные сети -->
    <ul class="social-list">
      <li class="social-list__item">
        <a class="social-list__link" href="https://twitter.com/" target="_blank" rel="nofollow">
          <svg class="social-list__icon" width="24" height="19">
            <use href="../src/images/svg/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a
          class="social-list__link"
          href="https://www.instagram.com/?hl=ru"
          target="_blank"
          rel="nofollow"
        >
          <svg class="social-list__icon" width="19" height="19">
            <use href="../src/images/svg/sprite.svg#icon-inst"></use></svg
        ></a>
      </li>
      <li class="social-list__item">
        <a
          class="social-list__link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="nofollow"
        >
          <svg class="social-list__icon" width="19" height="19">
            <use href="../src/images/svg/sprite.svg#icon-facebook"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</header>
