<div class="menu menu--container">
  <div class="menu__top">
    <a href="#" class="header__logo"
      ><img class="header__image" src="/images/header/logo-menu.png" alt="Логотип сайта"
    /></a>
    <button class="menu__button" type="button">
      <svg class="menu__close" width="18" height="18" aria-label="Переключатель мобильного меню">
        <use href="/images/header/close.svg"></use>
      </svg>
    </button>
  </div>

  <ul class="menu__list">
    <li class="menu__item">
      <a class="menu__nav-link menu__nav-link--accent" href="#about">About us</a>
    </li>
    <li class="menu__item"><a class="menu__nav-link" href="#program">Program</a></li>
    <li class="menu__item"><a class="menu__nav-link" href="#reviews">Reviews</a></li>
    <li class="menu__item"><a class="menu__nav-link" href="#contacts">Contacts</a></li>
  </ul>
</div>
