<section class="program">
  <div class="program__container">
    <div class="program__wrap">
      <div class="program__text">
        <h2 class="program__title" id="program">Program</h2>
        <p class="program__description">
          Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York
          donut shop!
        </p>
        <ul class="program__list">
          <li class="program__item">A stand up history of donuts</li>
          <li class="program__item">Make 3 donut flavors of your choice</li>
          <li class="program__item">Enjoy all-you-can-eat donuts</li>
          <li class="program__item">Cocktail pairings and coffee included</li>
          <li class="program__item">Photoshoot by professional photographer</li>
          <li class="program__item">Secret receipt of cooking from Eva</li>
          <li class="program__item">All products are included in the price</li>
        </ul>
        <input type="checkbox" hidden id="read-more" />
        <p class="program__extra-description">
          Come with your dear people and friends and you will spend an unforgettable time and will
          become a real professional in donuts cooking!
        </p>
        <label for="read-more" class="read-more">
          <span class="more">Read more</span>
          <span class="less">Less</span>
        </label>
      </div>
      <div class="program__info">
        <ul class="program__circles">
          <li class="program__circle">
            <picture class="program__donut"></picture>
            <h2 class="program__subtitle">Type of the event</h2>
            <p>Cooking classes</p>
            <svg></svg>
          </li>
          <li class="program__circle">
            <picture class="program__donut"></picture>
            <h2 class="program__subtitle">Number of guests</h2>
            <p>1 to 20</p>
            <svg></svg>
          </li>
          <li class="program__circle">
            <picture class="program__donut"></picture>
            <h2 class="program__subtitle">Time of the event</h2>
            <p>18:30 (2,5 hours)</p>
            <svg></svg>
          </li>
          <li class="program__circle">
            <picture class="program__donut"></picture>
            <h2 class="program__subtitle">The host speaks</h2>
            <p>English, French</p>
            <svg></svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
