<section class="register">
  <div class="register__container">
    <h2 id="register" class="register__title">Registration</h2>
    <div class="register__wrap">
      <div class="register__wrap-date">
        <time class="register__date" datetime="2022-05-23T11:00">May 23, 11:00</time>
        <p class="register__date-text">New York</p>
        <p class="register__text">699$</p>
      </div>
      <div class="register__cover">
        <h3 class="register__form-title">Apply your personal info for registration</h3>
        <form class="register__form">
          <div class="register__form-cont">
            <input
              class="register__form-input"
              type="text"
              name="person"
              id="person"
              value=""
              placeholder="Your name"
              required
            />
            <input
              class="register__form-input"
              type="tel"
              name="tel"
              id="tel"
              placeholder="Phone number"
              minlength="12"
              pattern="\+?[0-9\s\-\(\)]+"
              required
            />
            <input
              class="register__form-input"
              type="email"
              name="email"
              id="email"
              value=""
              placeholder="E-mail"
              required
            />
          </div>
          <button class="register__button button" type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>
</section>
