<section>
    <div class="container">
        <h2>Reviews</h2>
        <ul>
            <li><article>
                <img src="./images/reviews/desk reviews 2@1x.jpg" alt="photo reviews">
                <svg width="24px" height="24px">
                    <use href="./images/svg/sprite.svg#icon-star"></use>
                </svg>
                <svg width="24px" height="24px">
                    <use href="./images/svg/sprite.svg#icon-star"></use>
                </svg>
                <svg width="24px" height="24px">
                    <use href="./images/svg/sprite.svg#icon-star"></use>
                </svg>
                <svg width="24px" height="24px">
                    <use href="./images/svg/sprite.svg#icon-star"></use>
                </svg>
                <svg width="24px" height="24px">
                    <use href="./images/svg/sprite.svg#icon-star"></use>
                </svg>
                <p>John</p>
            </article></li>
            <li><article>
                <img src="./images/reviews/desk reviews 3@1x.jpg" alt="photo reviews">
                  <svg width="24px" height="24px">
                <use href="./images/svg/sprite.svg#icon-star"></use> </svg>  
                <svg width="24px" height="24px">
                    <use href="./images/svg/sprite.svg#icon-star"></use>
                </svg>
                <svg width="24px" height="24px">
                    <use href="./images/svg/sprite.svg#icon-star"></use>
                </svg>
                <svg width="24px" height="24px">
                    <use href="./images/svg/sprite.svg#icon-star"></use>
                </svg>
                <svg width="24px" height="24px">
                    <use href="./images/svg/sprite.svg#icon-star"></use>
                </svg>
                <p>Will</p>
                <p>Last time I have visited a cooking course by Eva
                I was impressed with the way she explained everything
                to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p></article></li>
            <li><article>
                <img src="./images/reviews/desk reviews 1@1x.jpg" alt="photo reviews">
                <svg width="24px" height="24px">
                    <use href="./images/svg/sprite.svg#icon-star"></use>
                </svg>
                <svg width="24px" height="24px">
                    <use href="./images/svg/sprite.svg#icon-star"></use>
                </svg>
                <svg width="24px" height="24px">
                    <use href="./images/svg/sprite.svg#icon-star"></use>
                </svg>
                <svg width="24px" height="24px">
                    <use href="./images/svg/sprite.svg#icon-star"></use>
                </svg>
                <svg width="24px" height="24px">
                    <use href="./images/svg/sprite.svg#icon-star"></use>
                </svg>
                <p>Elisabeth</p>
            </article></li>
            </ul>
           
    </div>
</section>