<section class="reviews">
  <div class="reviews__container">
    <h2 class="reviews__title" id="reviews">Reviews</h2>
    <ul class="reviews__list">
      <li class="reviews__item">
        <article class="reviews__thumb">
          <picture>
            <source
              srcset="./images/reviews/tabl_2@1x.jpg 1x, ./images/reviews/tabl_2@2x.jpg 2x"
              type="image/jpeg"
              media="(max-width:1279px)"
            />
            <source
              srcset="./images/reviews/desk_2@1x.jpg 1x, ./images/reviews/desk_2@2x.jpg 2x"
              type="image/jpeg"
              media="(min-width:1280px)"
            />
            <img src="./images/reviews/desk_2@1x.jpg" alt="photo reviews" class="reviews__photo" />
          </picture>

          <div class="reviews__svg-wrap">
            <svg class="reviews__star" width="24px" height="24px">
              <use href="./images/svg/sprite.svg#icon-star"></use>
            </svg>
            <svg class="reviews__star" width="24px" height="24px">
              <use href="./images/svg/sprite.svg#icon-star"></use>
            </svg>
            <svg class="reviews__star" width="24px" height="24px">
              <use href="./images/svg/sprite.svg#icon-star"></use>
            </svg>
            <svg class="reviews__star" width="24px" height="24px">
              <use href="./images/svg/sprite.svg#icon-star"></use>
            </svg>
            <svg class="reviews__star reviews__star--transparent" width="24px" height="24px">
              <use href="./images/svg/sprite.svg#icon-star"></use>
            </svg>
          </div>
          <p class="reviews__subtitle">John</p>
        </article>
      </li>
      <li class="reviews__item">
        <article class="reviews__thumb">
          <picture>
            <source
              srcset="./images/reviews/mob_@1x.jpg 1x, ./images/reviews/mob_@2x.jpg 2x"
              type="image/jpeg"
              media="(max-width:767px)"
            />
            <source
              srcset="./images/reviews/tabl_3@1x.jpg 1x, ./images/reviews/tabl_3@2x.jpg 2x"
              type="image/jpeg"
              media="(max-width:1279px)"
            />
            <source
              srcset="./images/reviews/desk_3@1x.jpg 1x, ./images/reviews/desk_3@2x.jpg 2x"
              type="image/jpeg"
              media="(min-width:1280px)"
            />
            <img src="./images/reviews/desk_3@1x.jpg" alt="photo reviews" class="reviews__photo" />
          </picture>
          <div class="reviews__svg-wrap">
            <svg class="reviews__star" width="24px" height="24px">
              <use href="./images/svg/sprite.svg#icon-star"></use>
            </svg>
            <svg class="reviews__star" width="24px" height="24px">
              <use href="./images/svg/sprite.svg#icon-star"></use>
            </svg>
            <svg class="reviews__star" width="24px" height="24px">
              <use href="./images/svg/sprite.svg#icon-star"></use>
            </svg>
            <svg class="reviews__star" width="24px" height="24px">
              <use href="./images/svg/sprite.svg#icon-star"></use>
            </svg>
            <svg class="reviews__star" width="24px" height="24px">
              <use href="./images/svg/sprite.svg#icon-star"></use>
            </svg>
          </div>
          <p class="reviews__subtitle">Will</p>
        </article>
      </li>
      <li class="reviews__item">
        <article class="reviews__thumb">
          <picture>
            <source
              srcset="./images/reviews/tabl_1@1x.jpg 1x, ./images/reviews/tabl_1@2x.jpg 2x"
              type="image/jpeg"
              media="(max-width:1279px)"
            />
            <source
              srcset="./images/reviews/desk_1@1x.jpg 1x, ./images/reviews/desk_1@2x.jpg 2x"
              type="image/jpeg"
              media="(min-width:1280px)"
            />
            <img src="./images/reviews/desk_1@1x.jpg" alt="photo reviews" class="reviews__photo" />
          </picture>
          <div class="reviews__svg-wrap">
            <svg class="reviews__star" width="24px" height="24px">
              <use href="./images/svg/sprite.svg#icon-star"></use>
            </svg>
            <svg class="reviews__star" width="24px" height="24px">
              <use href="./images/svg/sprite.svg#icon-star"></use>
            </svg>
            <svg class="reviews__star" width="24px" height="24px">
              <use href="./images/svg/sprite.svg#icon-star"></use>
            </svg>
            <svg class="reviews__star" width="24px" height="24px">
              <use href="./images/svg/sprite.svg#icon-star"></use>
            </svg>
            <svg class="reviews__star" width="24px" height="24px">
              <use href="./images/svg/sprite.svg#icon-star"></use>
            </svg>
          </div>
          <p class="reviews__subtitle">Elisabeth</p>
        </article>
      </li>
    </ul>
    <p class="reviews__opinion">
      Last time I have visited a cooking course by Eva I was impressed with the way she explained
      everything to people. You can be sure you will manage to cook a delicious dish even if it is
      your first time in the kitchen! Thank you so much for the masterclass! Looking forward to the
      next one and highly recommend it to everyone!
    </p>

    <div class="reviews__wrap-pagination">
      <p class="reviews__pagination">2/15</p>
    </div>
  </div>
</section>
